<app-header></app-header>

<div class="datos-est">
  <p class="dat"><strong> NÚMERO PROCESO: </strong> {{ numero_proceso }}</p>
  <p class="dat"><strong> ASUNTO: </strong> {{ asunto }}</p>
  <p class="dat"><strong> ESTUDIANTE: </strong> {{ estudiante }} </p>
  <p class="dat"><strong> DOCENTE: </strong> {{ docente }}</p>
</div>

<div class="info-analisis">
  <form [formGroup]="analisis2Form" (ngSubmit)="submitForm()">

    <div *ngIf="analisis2Form.disabled" class="locked-message">
      Esta sentencia está bloqueada y no puede ser editada.
    </div>

    <h3 class="titulo-analisis">Análisis de las argumentaciones de la sentencia</h3>
    <p style="font-family: Poppins;"> Todas las preguntas marcadas con un asterisco (*) son obligatorias. </p>

    <!-- Loop de Secciones: Genera dinámicamente los campos de texto para las 7 secciones del análisis -->
    <div class="analisis" *ngFor="let section of [
      {id: 'narracion_hechos', title: '1. Narración de los hechos *'},
      {id: 'problema_juridico', title: '2. Problema jurídico *'},
      {id: 'cuestiones_subcuestiones', title: '3. Cuestiones o subcuestiones para solucionar el problema *'},
      {id: 'respuesta_cuestiones', title: '4. Respuesta a las cuestiones *'},
      {id: 'ratio_obiter', title: '5. Ratio decidendi y obiter dictum *'},
      {id: 'solucion_problema', title: '6. Solución al problema *'},
      {id: 'decision', title: '7. Decisión *'}
    ]; let i = index">
      <div *ngIf="!isDocente && analisis2Form.get('saved')?.value" class="calificaciones">
        <div class="calificacion-display" [ngClass]="{
        'calificacion-correcta': getCalificacionValue(section.id + '_calificacion') === 'Correcto',
        'calificacion-incorrecta': getCalificacionValue(section.id + '_calificacion') === 'Incorrecto',
        'calificacion-no-calificado': getCalificacionValue(section.id + '_calificacion') === 'No Calificado'
      }">
          {{ getCalificacionValue(section.id + '_calificacion') }}
        </div>
      </div>
      <app-caja-texto [id]="section.id" [formControlName]="section.id" [titulo]="section.title">
      </app-caja-texto>
      <button class="rate" *ngIf="isDocente" type="button" (click)="toggleCalificar(section.id)">Calificar *</button>
      <div *ngIf="calificarState[section.id]">
        <div class="bttns-rate">
          <button class="correct-button" type="button"
            [ngClass]="{'selected': selectedButtons[section.id] === 'Correcto'}"
            (click)="setCalificacion(section.id, 'Correcto')">Correcto</button>
          <button class="incorrect-button" type="button"
            [ngClass]="{'selected': selectedButtons[section.id] === 'Incorrecto'}"
            (click)="setCalificacion(section.id, 'Incorrecto')">Incorrecto</button>
        </div>
        <div>
          <app-caja-texto [formControlName]="section.id + '_retroalimentacion'"
            [titulo]="'Retroalimentación *'"></app-caja-texto>
        </div>
      </div>

      <div *ngIf="!isDocente && getRetroalimentacionValue(section.id + '_retroalimentacion')">
        <button type="button" (click)="toggleRetroalimentacion(section.id)" class="bttn-toggle">
          {{ mostrarRetroalimentacion[section.id] ? 'Ocultar' : 'Ver' }} retroalimentación
        </button>
        <div *ngIf="mostrarRetroalimentacion[section.id]" class="retroalimentacion-contenido">
          <div class="retroalimentacion-texto">
            {{ getRetroalimentacionValue(section.id + '_retroalimentacion') }}
          </div>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <button class="bttn-stnd" type="submit">Guardar</button>
  </form>

  <div class="bttn">
    <button class="bttn-stnd" (click)="redirectToAnalisis()">Anterior</button>
    <div *ngIf="mostrarMensaje" class="alerta">
      <p>{{ mensajeError }}</p>
    </div>
    <button class="custom-button" type="button" *ngIf="cargando">
      <div class="spinner"></div>
      <span class="button-text">Cargando...</span>
    </button>
    <button class="bttn-stnd" (click)="redirectToEvaluacion($event)" [disabled]="!docenteSaved">Evaluación</button>
  </div>
</div>