.datos-est {
    color: var(--1, #172D5A);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: solid 7px #B3B3B3;
    border-top: solid 7px #FFAB02;
    margin: 15px 40px 15px 40px;
}

.checkbox-class {
    margin: 0px 20px 0px;
}

.tittle-check {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.description {
    color: #172D5A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
  }
  
  .option input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .option label {
    color: var(--Greyscale-Content);
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .option div {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  textarea {
    width: 100%;
    resize: vertical;
  }

  .sub-options {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .sub-option {
    display: flex;
    align-items: center;
  }
  
  .sub-option input[type="checkbox"] {
    margin-right: 10px;
  }

  .likert-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.likert-row {
    display: table-row;
    border-bottom: 1px solid #ddd; /* Línea de separación entre filas */
}

.likert-label {
    display: table-cell;
    vertical-align: middle;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Greyscale-Content, #1A1A1A);
    width: 80%;
}

.likert-options {
    display: table-cell;
    text-align: center;
    vertical-align: middle; /* Centrado vertical */
    padding: 10px;
}

.likert-options label {
    display: inline-block;
    padding: 0 10px;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Greyscale-Content, #1A1A1A);
}

.likert-options input[type="radio"] {
    margin: 0 5px;
    transform: scale(1.5); /* Aumenta el tamaño del radio button */
    accent-color: var(--Greyscale-Content, #1A1A1A); /* Color para navegadores compatibles */
}

.likert-options span {
    margin-left: 5px;
    font-family: Mukta, sans-serif;
    font-size: 16px;
    color: var(--Greyscale-Content, #1A1A1A);
}

.bttn{
  display: flex;
  margin: 20px 0px 0px 0px;
  justify-content: space-between;
  padding: 0PX 25px 10px;
}

.calificacion-display {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}

.calificacion-correcta {
  background-color: #4CAF50; /* Verde */
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.calificacion-incorrecta {
  background-color: #f44336; /* Rojo */
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.calificacion-no-calificado{
  background-color: none; /* Rojo */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal; 
}

.calificaciones{
  display: flex;
  justify-content: end;
}

.bttn-stnd-g {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #172D5A;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  border: none;
  display: flex;
  transition: background-color 0.3s ease; 
  margin-left: 30px;
  margin-top: 20px;
}

.bttn-stnd-g:hover {
  background: #000000;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

input:disabled, textarea:disabled, select:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

/* Estilos para el loader */
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #004274;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid #ffffff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.button-text {
  font-weight: bold;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}