<app-header></app-header>

<div class="datos-est">
    <p class="dat"><strong> NÚMERO PROCESO: </strong> {{ numero_proceso }}</p>
    <p class="dat"><strong> ASUNTO: </strong> {{ asunto }}</p>
    <p class="dat"><strong> ESTUDIANTE: </strong> {{ estudiante }} </p>
    <p class="dat"><strong> DOCENTE: </strong> {{ docente }}</p>
</div>

<form [formGroup]="evaluacion2Form" (ngSubmit)="submitForm()">

    <h3 class="titulo-analisis">Cuestionario de estandar de la motivación correcta</h3>
    <div *ngIf="evaluacion2Form.disabled" class="locked-message">
        Esta sentencia está bloqueada y no puede ser editada.
    </div>

    <div>
        <div class="checkbox-class">
            <h2 class="titulo">MOTIVACIÓN CORRECTA</h2>
            <p style="font-family: Poppins;"> Todas las preguntas marcadas con un asterisco (*) son obligatorias. </p>

            <h3 class="tittle-check">SEÑALE LA MATERIA CORRESPONDIENTE DE LA SENTENCIA *</h3>
            <!-- Selección de Materia -->
            <h5 class="description">Este cuestionario aplica para jueces de primer nivel en las materias de:</h5>
            <div class="options">
                <!-- Columna 1 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Civil"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Civil'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Civil' && !docenteSelections['Civil']"
                            [class.docente-selected]="docenteSelections['Civil']">
                        <label class="description">Civil</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Penal"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Penal'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Penal' && !docenteSelections['Penal']"
                            [class.docente-selected]="docenteSelections['Penal']">
                        <label class="description">Penal</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Constitucional"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Constitucional'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Constitucional' && !docenteSelections['Constitucional']"
                            [class.docente-selected]="docenteSelections['Constitucional']">
                        <label class="description">Constitucional</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Other"
                            [disabled]="evaluacion2Form.disabled"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value.includes('Other')"
                            [class.docente-selected]="docenteSelections['Other']">
                        <label class="description">Otro...</label>
                        <div *ngIf="evaluacion2Form.get('sentenceSubject')?.value.includes('Other')"
                            formGroupName="other">
                            <textarea formControlName="otherSubject"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Columna 2 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Mercantil"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Mercantil'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Mercantil' && !docenteSelections['Mercantil']"
                            [class.docente-selected]="docenteSelections['Mercantil']">
                        <label class="description">Mercantil</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Inquilinato"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Inquilinato'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Inquilinato' && !docenteSelections['Inquilinato']"
                            [class.docente-selected]="docenteSelections['Inquilinato']">
                        <label class="description">Inquilinato y relaciones vecinales</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Laboral"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Laboral'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Laboral' && !docenteSelections['Laboral']"
                            [class.docente-selected]="docenteSelections['Laboral']">
                        <label class="description">Laboral</label>
                    </div>
                </div>

                <!-- Columna 3 -->
                <div class="column">
                    <!-- Opción Familia -->
                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Familia"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Familia'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Familia' && !docenteSelections['Familia']"
                            [class.docente-selected]="docenteSelections['Familia']">
                        <label class="description">Familia, mujer, niñez y adolescencia</label>
                    </div>

                    <!-- Opción MultiComponent -->
                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="MultiComponent"
                            [checked]="isMultiOption(evaluacion2Form.get('sentenceSubject')?.value)"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['MultiComponent'])"
                            [class.student-selected]="!isDocente && isMultiOption(evaluacion2Form.get('sentenceSubject')?.value) && !docenteSelections['MultiComponent']"
                            [class.docente-selected]="docenteSelections['MultiComponent']">
                        <label class="description">Multicomponente</label>

                        <!-- Subopciones que se muestran cuando MultiComponent está seleccionado o cuando ya hay un multi seleccionado -->
                        <div *ngIf="isMultiOption(evaluacion2Form.get('sentenceSubject')?.value)" class="sub-options">
                            <input type="radio" formControlName="sentenceSubject" value="MultiCivil"
                                [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['MultiCivil'])"
                                [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'MultiCivil' && !docenteSelections['MultiCivil']"
                                [class.docente-selected]="docenteSelections['MultiCivil']">
                            <label class="description">Mult. civil</label>

                            <input type="radio" formControlName="sentenceSubject" value="MultiPenal"
                                [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['MultiPenal'])"
                                [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'MultiPenal' && !docenteSelections['MultiPenal']"
                                [class.docente-selected]="docenteSelections['MultiPenal']">
                            <label class="description">Mult. penal</label>
                        </div>
                    </div>
                </div>

                <!-- Columna 4 -->
                <div class="column">
                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Transit"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Transit'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Transit' && !docenteSelections['Transit']"
                            [class.docente-selected]="docenteSelections['Transit']">
                        <label class="description">Tránsito</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Violence"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Violence'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Violence' && !docenteSelections['Violence']"
                            [class.docente-selected]="docenteSelections['Violence']">
                        <label class="description">Violencia contra la mujer o miembro del núcleo familiar</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="Contraventions"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['Contraventions'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'Contraventions' && !docenteSelections['Contraventions']"
                            [class.docente-selected]="docenteSelections['Contraventions']">
                        <label class="description">Contravenciones</label>
                    </div>

                    <div class="option">
                        <input type="radio" formControlName="sentenceSubject" value="TributaryLitigation"
                            [disabled]="evaluacion2Form.disabled || (!isDocente && docenteSelections['TributaryLitigation'])"
                            [class.student-selected]="!isDocente && evaluacion2Form.get('sentenceSubject')?.value === 'TributaryLitigation' && !docenteSelections['TributaryLitigation']"
                            [class.docente-selected]="docenteSelections['TributaryLitigation']">
                        <label class="description">Contencioso tributario</label>
                    </div>
                </div>
            </div>
            <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                    'calificacion-correcta': getCalificacionValue('sentenceSubject_calificacion') === 'Correcto',
                    'calificacion-incorrecta': getCalificacionValue('sentenceSubject_calificacion') === 'Incorrecto',
                    'calificacion-no-calificado': getCalificacionValue('sentenceSubject_calificacion') === 'No Calificado'
                  }">
                    {{ getCalificacionValue('sentenceSubject_calificacion') }}
                </div>
            </div>

            <button class="rate" *ngIf="isDocente" type="button" (click)="toggleCalificar('sentenceSubject')">Calificar
                *</button>
            <div *ngIf="calificarState['sentenceSubject']">
                <div class="bttns-rate">
                    <button class="correct-button" type="button"
                        [class.calificacion-correcta]="isButtonSelected('sentenceSubject_calificacion', 'Correcto')"
                        (click)="setCalificacion('sentenceSubject_calificacion', 'Correcto')">
                        Correcto
                    </button>
                    <button class="incorrect-button" type="button"
                        [class.calificacion-incorrecta]="isButtonSelected('sentenceSubject_calificacion', 'Incorrecto')"
                        (click)="setCalificacion('sentenceSubject_calificacion', 'Incorrecto')">
                        Incorrecto
                    </button>
                </div>
                <div>
                    <app-caja-texto [formControlName]="'sentenceSubject_retroalimentacion'"
                        [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación *'"></app-caja-texto>
                </div>
            </div>
        </div>
        <div class="checkbox-class">
            <h2 class="tittle-check">SEÑALE EL CASILLERO QUE CREA CONVENIENTE</h2>
            <h5 class="description">En este apartado encontrará una serie de parámetros, para seleccionar según su
                conveniencia tenga en
                cuenta que:
                Totalmente en desacuerdo (1), Ni desacuerdo/Ni en desacuerdo (2), Muy de acuerdo (3)
            </h5>
            <!-- Formulario de las diferentes seccion con opcion de radio para escalas Likert -->
            <div *ngFor="let section of sections; let sectionIndex = index" class="section">
                <h3 class="titulo"><strong>Variable {{section.id}} : </strong> {{ section.title }}</h3>
                <div class="likert-table">
                    <div *ngFor="let question of section.questions; let questionIndex = index" class="likert-row">
                        <label class="likert-label" [innerHTML]="formatQuestion(question)"></label>
                        <div class="likert-options">
                            <label *ngFor="let option of [1, 2, 3]">
                                <input type="radio"
                                    [formControlName]="'section' + sectionIndex + '_question' + questionIndex"
                                    [value]="option" [disabled]="evaluacion2Form.disabled">
                                <span>{{ option }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Calificacion y retroalimentacion vista por el estudiante -->
                <ng-container *ngIf="!isDocente && evaluacion2Form.get('saved')?.value">
                    <div
                        *ngIf="getCalificacionValue('section' + sectionIndex + '_calificacion') || getRetroalimentacionValue('section' + sectionIndex + '_retroalimentacion') !== 'Sin retroalimentación'">
                        <div class="calificaciones">
                            <div class="calificacion-display"
                                [ngClass]="{
                                'calificacion-correcta': getCalificacionValue('section' + sectionIndex + '_calificacion') === 'Correcto',
                                'calificacion-incorrecta': getCalificacionValue('section' + sectionIndex + '_calificacion') === 'Incorrecto',
                                'calificacion-no-calificado': getCalificacionValue('section' + sectionIndex + '_calificacion') === 'No Calificado',}">
                                {{ getCalificacionValue('section' + sectionIndex + '_calificacion') }}
                            </div>
                        </div>
                        <button type="button" (click)="toggleRetroalimentacion(section.id)" class="bttn-toggle">
                            {{ mostrarRetroalimentacion[section.id] ? 'Ocultar' : 'Ver' }} retroalimentación
                        </button>
                        <div class="retroalimentacion-contenido" *ngIf="mostrarRetroalimentacion[section.id]">
                            <p> {{ getRetroalimentacionValue('section' + sectionIndex
                                + '_retroalimentacion') }}</p>
                        </div>
                    </div>
                </ng-container>
                <!-- Boton de calificar y opcion de retroalimentacion que da el docente -->
                <ng-container *ngIf="isDocente">
                    <button class="rate" type="button" (click)="toggleCalificar2('section' + sectionIndex)">
                        Calificar *
                    </button>
                    <div *ngIf="calificarState['section' + sectionIndex]">
                        <div class="bttns-rate">
                            <button class="correct-button"
                                [class.calificacion-correcta]="isButtonSelected2('section' + sectionIndex + '_calificacion', 'Correcto')"
                                type="button"
                                (click)="setCalificacion2('section' + sectionIndex + '_calificacion', 'Correcto')">
                                Correcto
                            </button>

                            <button class="incorrect-button"
                                [class.calificacion-incorrecta]="isButtonSelected2('section' + sectionIndex + '_calificacion', 'Incorrecto')"
                                type="button"
                                (click)="setCalificacion2('section' + sectionIndex + '_calificacion', 'Incorrecto')">
                                Incorrecto
                            </button>
                        </div>
                        <div>
                            <app-caja-texto [formControlName]="'section' + sectionIndex + '_retroalimentacion'"
                                [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación *'">
                            </app-caja-texto>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!-- Fundamentación normativa formulario del estudiante -->
            <div class="likert-table">
                <h3 class="titulo">Fundamentación normativa.</h3>
                <div>
                    <label class="likert-label">Señale si la sentencia analizada debe ser corregida (dejada por
                        defecto) por
                        un juez de
                        segunda
                        instancia a través de la presentación de un recurso de apelación *.</label>
                    <input type="radio" name="judgeAnalysis" value="Si" formControlName="judgeAnalysis"> Si
                    <input type="radio" name="judgeAnalysis" value="No" formControlName="judgeAnalysis"> No
                </div>
                <div>
                    <app-caja-texto name="reasonsNormativa" formControlName="reasonsNormative"
                        [titulo]="'Justifique su respuesta (500 palabras) *'">
                    </app-caja-texto>
                    <!-- Vista de la retroalimentacion del estudiante -->
                    <div *ngIf="!isDocente && getRetroalimentacionValue('reasonsNormative_retroalimentacion')">
                        <button type="button" (click)="toggleRetroalimentacion('sentenceSubject')" class="bttn-toggle">
                            {{ mostrarRetroalimentacion['sentenceSubject'] ? 'Ocultar' : 'Ver' }} retroalimentación
                        </button>
                        <div *ngIf="mostrarRetroalimentacion['sentenceSubject']" class="retroalimentacion-contenido">
                            <div class="retroalimentacion-texto">
                                {{ getRetroalimentacionValue('reasonsNormative_retroalimentacion') }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Opcion de calificar y retroalimentacion que da el docente -->
                <button class="rate" *ngIf="isDocente" type="button"
                    (click)="toggleCalificar('reasonsNormative')">Calificar *</button>
                <div *ngIf="calificarState['reasonsNormative']">
                    <div class="bttns-rate">
                        <button class="correct-button"
                            [class.calificacion-correcta]="isButtonSelected('reasonsNormative_calificacion', 'Correcto')"
                            type="button"
                            (click)="setCalificacion('reasonsNormative_calificacion', 'Correcto')">Correcto</button>
                        <button class="incorrect-button"
                            [class.calificacion-incorrecta]="isButtonSelected('reasonsNormative_calificacion', 'Incorrecto')"
                            type="button"
                            (click)="setCalificacion('reasonsNormative_calificacion', 'Incorrecto')">Incorrecto</button>
                    </div>
                    <div>
                        <app-caja-texto [formControlName]="'reasonsNormative_retroalimentacion'"
                            [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación'"></app-caja-texto>
                    </div>
                </div>
                <!-- Vista de la calificacion del estudiante -->
                <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                    <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                            'calificacion-correcta': getCalificacionValue('reasonsNormative_calificacion') === 'Correcto',
                            'calificacion-incorrecta': getCalificacionValue('reasonsNormative_calificacion') === 'Incorrecto',
                            'calificacion-no-calificado': getCalificacionValue('reasonsNormative_calificacion') === 'No Calificado'
                          }">
                        {{ getCalificacionValue('reasonsNormative_calificacion') }}
                    </div>
                </div>

            </div>
            <div class="likert-table">
                <div>
                    <app-caja-texto name="finalConclusion" formControlName="finalConclusion"
                        [titulo]="'Resultados y Discusión *'">
                    </app-caja-texto>
                    <div *ngIf="!isDocente && getRetroalimentacionValue('finalConclusion_retroalimentacion')">
                        <button type="button" (click)="toggleRetroalimentacion('sentenceSubject')" class="bttn-toggle">
                            {{ mostrarRetroalimentacion['sentenceSubject'] ? 'Ocultar' : 'Ver' }} retroalimentación
                        </button>
                        <div *ngIf="mostrarRetroalimentacion['sentenceSubject']" class="retroalimentacion-contenido">
                            <div class="retroalimentacion-texto">
                                {{ getRetroalimentacionValue('finalConclusion_retroalimentacion') }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="rate" *ngIf="isDocente" type="button"
                    (click)="toggleCalificar('finalConclusion')">Calificar *</button>
                <div *ngIf="calificarState['finalConclusion']">
                    <div class="bttns-rate">
                        <button class="correct-button"
                            [class.calificacion-correcta]="isButtonSelected('finalConclusion_calificacion', 'Correcto')"
                            type="button"
                            (click)="setCalificacion('finalConclusion_calificacion', 'Correcto')">Correcto</button>
                        <button class="incorrect-button"
                            [class.calificacion-incorrecta]="isButtonSelected('finalConclusion_calificacion', 'Incorrecto')"
                            type="button"
                            (click)="setCalificacion('finalConclusion_calificacion', 'Incorrecto')">Incorrecto</button>
                    </div>
                    <div>
                        <app-caja-texto [formControlName]="'finalConclusion_retroalimentacion'"
                            [disabled]="evaluacion2Form.disabled" [titulo]="'Retroalimentación *'"></app-caja-texto>
                    </div>
                </div>
                <div *ngIf="!isDocente && evaluacion2Form.get('saved')?.value" class="calificaciones">
                    <div class="calificacion-display" *ngIf="!saved" [ngClass]="{
                            'calificacion-correcta': getCalificacionValue('finalConclusion_calificacion') === 'Correcto',
                            'calificacion-incorrecta': getCalificacionValue('finalConclusion_calificacion') === 'Incorrecto',
                            'calificacion-no-calificado': getCalificacionValue('finalConclusion_calificacion') === 'No Calificado'
                          }">
                        {{ getCalificacionValue('finalConclusion_calificacion') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTÓN DE GUARDAR (Solo si no está bloqueado) -->
    <button *ngIf="!isFormLocked" class="bttn-stnd-g" type="submit">Guardar</button>
</form>

<div *ngIf="mostrarMensaje" class="alerta">
    <p>{{ mensajeError }}</p>
</div>
<div *ngIf="mostrarMensajeExito" class="mensaje-exito"
    style="background-color: #4CAF50; color: white; padding: 15px; text-align: center; margin: 10px 40px; border-radius: 5px;">
    {{ mensajeExito }}
</div>

<!-- SECCIÓN DE BOTONES DE ACCIÓN -->
<div class="bttn">
    <button class="bttn-stnd" (click)="redirectToEvaluacion()">Anterior</button>

    <!-- Loader -->
    <button class="custom-button" type="button" *ngIf="cargando">
        <div class="spinner"></div>
        <span class="button-text">Cargando...</span>
    </button>

    <!-- BOTONES DE BLOQUEO / DESBLOQUEO (Solo Docentes/Admins) -->
    <ng-container *ngIf="isDocente">
        <!-- Si NO está bloqueada -> Mostrar Bloquear -->
        <button *ngIf="!isFormLocked" class="bttn-stnd" style="background-color: #172D5A;"
            (click)="bloquearSentencia()">
            <i class="fa-solid fa-lock"></i> Bloquear y Finalizar
        </button>

        <!-- Si ESTÁ bloqueada -> Mostrar Desbloquear -->
        <button *ngIf="isFormLocked" class="bttn-stnd" style="background-color: #d32f2f;"
            (click)="desbloquearSentencia()">
            <i class="fa-solid fa-lock-open"></i> Desbloquear Sentencia
        </button>
    </ng-container>

    <button class="bttn-stnd" (click)="finalizarEvaluacion()">Salir</button>
</div>