.datos-est {
  color: var(--1, #172D5A);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: solid 7px #B3B3B3;
  border-top: solid 7px #FFAB02;
  margin: 15px 40px 15px 40px;
}

.analisis-eva .bttn-stnd {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--B3B3B3, #B3B3B3);
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: none;
  border-radius: 20px 20px 0px 0px;
  width: 600px;
  margin: 0px 60px 0px 60px;
}

.bttn-stnd-delete {
  margin: 20px 0px 20px 0px;
  background: #EE4E4E;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border: none;
  display: flex;
  transition: background-color 0.3s ease;
}

.bttn-stnd-delete:hover {
  background: #C80036;
}

.bttn-stnd-delete:disabled {
  background-color: #ffcccc;
  color: #888;
  cursor: not-allowed;
  box-shadow: none;
}

.pa {
  border-bottom: solid 1px #222940;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

.line {
  border-top: 3px solid black;
  margin: 20px 0;
}

.datos-est {
  color: var(--1, #172D5A);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: solid 7px #B3B3B3;
  border-top: solid 7px #FFAB02;
  margin: 15px 40px 15px 40px;
}

.bttn-sgt {
  margin: 30px 0px 0px 10px;
}

.bttn-sgt {
  color: #044170;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
  box-shadow: none;
  border: none;
  display: flex;
}

.bttn-sgt:hover {
  background: none;
  border-bottom: solid 1px #044170;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 0px;
}

/* Estilos base para los botones de calificación */
.correct-button,
.incorrect-button {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilos para los botones seleccionados */
.correct-button.selected {
  background-color: #4CAF50;
  color: white;
  border-color: #45a049;
}

.incorrect-button.selected {
  background-color: #f44336;
  color: white;
  border-color: #da190b;
}

/* Estilos para el hover de los botones */
.correct-button:hover:not(.selected) {
  background-color: #e7f3e8;
}

.incorrect-button:hover:not(.selected) {
  background-color: #fde9e7;
}

/* Asegurarse de que cada conjunto de botones sea independiente */
.bttns-rate {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

/* Ajustar el espaciado y alineación de los elementos de calificación */
.rate {
  margin-bottom: 10px;
}

.label-for-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.calificacion-display {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}

.calificacion-correcta {
  background-color: #4CAF50;
  /* Verde */
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.calificacion-incorrecta {
  background-color: #f44336;
  /* Rojo */
  color: white;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.calificacion-no-calificado {
  background-color: none;
  /* Rojo */
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.calificaciones {
  display: flex;
  justify-content: end;
}

.mensaje-exito {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #004274;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #004274;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid #ffffff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

.button-text {
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pregunta-container,
.razones-container,
.validar {
  flex-grow: 1;
}

.button-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  /* Cambiado para que el contenedor sea ancho */
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  /* Centrar */
}

.bttn-stnd-delete,
.bttn-stnd,
.rate {
  margin: 0;
}

.bttn-stnd-delete,
.bttn-stnd,
.rate {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bttn-stnd-delete {
  background: #EE4E4E;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
}

.bttn-stnd {
  background: #044170;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
}


.bttn-stnd-delete:hover {
  background: #C80036;
}

.bttn-stnd:hover {
  background: #022d4e;
}

.bttn-stnd:disabled {
  background-color: #cccccc;
  color: #666;
  cursor: not-allowed;
}

.add-btn-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}